
.mdl-layout-title{
    left: 41%;
    font-size: 200%;
}

#LoggedInAs {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 20px;
}

.mdl-layout__header{
    box-shadow: 0px 6px 8px grey;
}

#loginTag{
    position: absolute;
    top: 20%;
    left: 42%;
    height:10%;
    width: 20%;
    box-shadow: 0px 6px 8px grey;
}

#loginTag p{
    position: relative;
    text-align: center;
    top: 30%;
    font-size: 400%;

}

#clock{
    position: absolute;
    top: 50%;
    left: 42%;
    width: 50%;
}

#clock img{
    box-shadow: 0px 6px 8px grey;
}

#startButton{
    position: absolute;
    top: 60%;
    left: 40%;
    box-shadow: 0px 6px 8px grey;
}

#stopButton{
    position: absolute;
    top: 60%;
    left: 58%;
    box-shadow: 0px 6px 8px grey;
}

#activateSession{
    position: absolute;
    top: 32%;
    left: 46%;
    background-color: red;
    box-shadow: 0px 6px 8px grey;
}

#UoaLogo {
    position: absolute;
    bottom: 0.2%;
    left: 0.2%;
    height: 8%;
}