#title{
    text-align: center;
    font-size: 4vw;
}

#LoggedInAs {
    position: absolute;
    top: 3%;
    right: 1%;
    font-size: 1.5vw;
}

.mdl-layout__header{
    box-shadow: 0px 6px 8px grey;  
}

#MainContainer{
    position: absolute;
    top: 20%;
    width: 100%;
    
}

#TestName {
    position: relative;
    display: block;
    margin: auto;
    width:20%;
    text-align: center;
    font-size: 2vw;
    box-shadow: 0px 4px 2px grey;
}

#TestTime {
    position: relative;
    display: block;
    margin: auto;
    width:20%;
    text-align: center;
    font-size: 2vw;
    box-shadow: 0px 4px 2px grey;
}

.topics{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%; 
}

button.accordion {
    position: relative;
    left: 5%;
    background-color: lightgoldenrodyellow;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: 0.1%;
    border-color: lightgrey;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    box-shadow: 0px 6px 4px grey;
}

button.accordion.active {
    background-color: darkred;
    font-weight: bold;
    color: white; 
}

button.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";  /* Unicode character for "minus" sign (-) */
    font-weight: bold;
    color: white; 
}

div.panel {
    position:relative;
    left: 5%;
    width: 90%;
    padding: 0 18px;
    display: none;
    background-color: white;
    box-shadow: 0px 6px 4px grey;
    border: 1px solid black;
}


.mdl-button {
    position: relative;
    display: block;
    margin: auto;
    background-color: darkred;
    color: white;
    text-align: center;
    box-shadow: 0px 4px 5px grey;
}

table{
    position: relative;
    width: 100%;
}

#NoBorder{
    width: 25%;
    text-align: center;
    border-bottom: 1px solid black;
}

#Border{
    width: 25%;
    text-align: center;
    border:  1px solid black;
}


.btn {
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    font-size: 1.7vw;
    color: white;
    background-color: #1565c0;
    font-weight: bold;
}





