
.mdl-layout-title{
    left: 41%;
    font-size: 200%;
}

#LoggedInAs {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 20px;
}

.mdl-layout__header{
    box-shadow: 0px 6px 8px grey;
}

#loginTag{
    position: absolute;
    top: 20%;
    left: 42%;
    height:10%;
    width: 20%;
    box-shadow: 0px 6px 8px grey;
}

#loginTag p{
    position: relative;
    text-align: center;
    top: 30%;
    font-size: 400%;

}

#clock{
    position: absolute;
    top: 50%;
    left: 42%;
    width: 50%;
}

#clock img{
    box-shadow: 0px 6px 8px grey;
}

#startButton{
    position: absolute;
    top: 60%;
    left: 40%;
    box-shadow: 0px 6px 8px grey;
}

#stopButton{
    position: absolute;
    top: 60%;
    left: 58%;
    box-shadow: 0px 6px 8px grey;
}

#manuleTimeContainer{
    position: absolute;
    height: 8%;
    top: 35%;
    left: 46%;
    box-shadow: 0px 6px 8px grey;
}

#minutesBox{
    position: absolute;
    top: 47%;
    left: 25%;
}
#setManuleTime{
    position: absolute;
    top: 47%;
    left: 50%;
}

#dynamicanswers{
    position: absolute;
    top: 70%;
    left:33%;
}

table{
    position: absolute;
    top: 25%;
    left: 3%;
    width: 90%;
    text-align:center;
    box-shadow: 0px 4px 4px grey;
}

th{
    background-color: darkcyan;
    border: 1px solid black;
    color: white;
    text-align:center;
    padding: 5px;
    font-size: 150%;
}

td{
    border: 1px solid black;
    padding: 5px;
}

tr:nth-child(even){background-color: beige}


#UoaLogo {
    position: absolute;
    bottom: 0.2%;
    left: 0.2%;
    height: 8%;
}
